<section id="section05">
  <div>
    <header>
      <div>
        <h3>Aula nยบ 05</h3>
      </div>
    </header>

    <form autocomplete="off" action="./" method="post">
      <input id="nomeOpcao" type="text">

      <button id="btAdiciona" type="button">Adicionar</button>

      <output name="result">
        <ul></ul>
      </output>
    </form>
  </div>
</section>