<section id="section04">
  <div>
    <header>
      <div>
        <h3>Aula nº 04</h3>
      </div>
    </header>

    <p>
      Document Object Model
    </p>

    <div id="teste" class="mensagem">olá</div>
    <div id="teste2" class="mensagem">olá 2</div>
    <div id="teste2" class="mensagem">olá 2</div>
    <div id="teste2" class="mensagem">olá 2</div>
    <div id="teste2" class="mensagem">olá 2</div>
    <div id="teste2" class="mensagem">olá 2</div>
    <div id="teste2" class="mensagem">olá 2</div>

    <strong>teste</strong>
    <p>paragrafo</p>
    <p>paragrafo</p>
    <p><strong>teste</strong> paragrafo</p>
    <p>paragrafo</p>
    <p>paragrafo</p>
    <p>paragrafo <strong>teste</strong></p>
    <p>paragrafo</p>
    <p><strong>teste</strong> paragrafo</p>
    <p>paragrafo</p>
    <strong>teste</strong><br>

    <menu>
      <li><button type="button">Clique 1</button></li>
      <li><button type="button">Clique 2</button></li>
      <li><button type="button">Classe</button></li>
      <li><button type="button">Parágrafos</button></li>
      <li><button type="button">Negritos em parágrafos</button></li>
    </menu>
  </div>
</section>