<section id="section06">
  <div>
    <header>
      <div>
        <h3>Aula nยบ 06</h3>
      </div>
    </header>

    <form id="form_Aula06">
      <div>
        <input id="firstValue" type="number" value="0" step="0.01">

        <input id="lastValue" type="number" value="0" step="0.01">

        <select id="operation" required>
          <option value="+" label="Somar"></option>
          <option value="*" label="Multiplicar"></option>
        </select>

        <button type="button">Calcular</button>

        <output name="result">
          <p></p>
        </output>
      </div>
    </form>
  </div>
</section>