<section id="section07">
  <div>
    <header>
      <div>
        <h3>Aula nยบ 10</h3>
      </div>
    </header>

    <p>
      Eventos
    </p>

    <menu>
      <li><button id="bt1">Metodo 1</button></li>
      <li><button id="bt2">Metodo 2</button></li>
      <li><button id="bt3">Metodo 3</button></li>
      <li><button id="bt4">Metodo 4</button></li>
    </menu>
  </div>
</section>