<section id="section02">
  <div>
    <header>
      <div>
        <h3>Aula nº 02</h3>
      </div>
    </header>

    <menu>
      <li><button type="button">Opera soma</button></li>
      <li><button type="button">Opera multiplicação</button></li>
      <li><button type="button">Opera objeto</button></li>
      <li><button type="button">Opera objeto</button></li>
      <!--
        <button onclick="verifica(x,y)">verifica</button>
        <button onclick="console.log(escolhe(x,y))">verifica2</button>
        <button onclick="escreveopcao(x)">escreve opção</button>
        <button onclick="escreveFor(x)">escreve For</button>
        <button onclick="escreveWhile(x)">escreve While</button>
        <button onclick="escreveDo(x)">escreve Do</button>
      -->
    </menu>
  </div>
</section>