<section id="section03">
  <div>
    <header>
      <div>
        <h3>Aula nยบ 03</h3>
      </div>
    </header>

    <p>
      Document Object Model
    </p>

    <button onclick="escreve('turma 308')">Clique aqui</button>

    <div id="alvo">
      <strong>Oi</strong>
    </div>
  </div>
</section>