<section id="section01">
  <div>
    <header>
      <div>
        <h3>Aula nยบ 01</h3>
      </div>
    </header>

    <menu>
      <li><button type="button">clique 1</button></li>
      <li><button type="button">clique 2</button></li>
      <li><button type="button">clique 3</button></li>
      <li><button type="button">clique 4</button></li>
      <li><button type="button">incrementa x</button></li>
    </menu>
  </div>
</section>